$gray: rgb(239,245,248)
$white: rgb(255,255,255)

body
  background: #ebf2f5
  margin: 0
  font-family: "canada-type-gibson" ,sans-serif
  color: rgb(72,72,72)
  font-weight: 100
  text-align: center

  h2
    font-size: 2rem

  h3
    font-size: 1rem
    font-weight: 100

  #upper-section
    text-align: center
    #timer-wrap
      text-align: center
      width: 100%
      #timer
        text-align: center
    #input-section
      background: #fff
      input
        width: 100%
        -webkit-appearance: textfield
        text-align: center
        background-color: white
        cursor: auto
        padding: 1em 0
        border-width: 0px
        border-style: inset
        border-color: #fff
        font-size: 4em
        &:focus
          outline: 0
        &.wrong 
          color: rgb(250, 65, 60)
    #image-carousel
      .image-wrap
        .image
          background-color: $white
          height: 100%
          height: 100px
          width: 100px
          background-position: center
          background-size: cover
          margin: 0 auto
        &.inactive
          .image
            background-color: $gray

  .section
    margin: 0 3rem
    .col
      text-align: center
      h3,h2
        padding: 0 0 0 0
        margin: 0px
        -webkit-user-select: none  /* Chrome/Safari/Opera */
        -khtml-user-select: none    /* Konqueror */
        -moz-user-select: none     /* Firefox */
        -ms-user-select: none       /* Internet Explorer/Edge */
        user-select: none

      h2
        color: rgb(250, 65, 60)
        font-size: 35px
        font-weight: 100

      h3
        font-size: 25px
        height: 60px
        margin-top: 2rem
        font-weight: 100
