extends layout

block content
  script.
    window.fbAsyncInit = function() {
    FB.init({
    appId      : '1798128600435648',
    xfbml      : true,
    version    : 'v2.7'
    });
    };
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    
    
  #init-wrap
    .row
     .col-md-4
      .row
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/1.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/2.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/3.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/4.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/5.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/6.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/7.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/8.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/9.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/10.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/11.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/12.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/13.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/14.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/15.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/16.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/17.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/18.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/19.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/20.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/21.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/22.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/23.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/24.jpg")')

     .col-xs-12.col-md-4
      .row
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/25.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/26.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/27.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/28.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/29.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/30.jpg")')
    
       .row
        .col-xs-12
         h1 Name the Band
         p Start by writing the name of a band or a musician and press <b>enter</b>. Then write another name starting with the last letter of the one before.
           .button#play-button 
             a PLAY
         #share-wrap.inactive-game
           h3 SHARE
           .row.center
             .col-xs-6.col-md-2.col-lg-1.center.twitter
               a(target="_blank")
                 img.float-left(src="/images/twitter.svg")
               a.facebook
                 img.float-left(src="/images/facebook.svg")
                 
         #highscore-wrap
           #highscore-container.col-xs-12
             .row.center
               .highscores.col-xs-12
                 h3 HIGH SCORES
                 
     .col-md-4
      .row
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/31.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/32.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/33.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/34.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/35.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/36.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/37.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/38.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/39.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/40.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/41.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/42.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/43.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/44.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/45.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/46.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/47.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/48.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/49.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/50.jpg")')
       .col-md-4
        .random-rectangle(style='background-image: url("../images/bands/51.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/52.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/53.jpg")')
       .col-md-4
         .random-rectangle(style='background-image: url("../images/bands/54.jpg")')

    
  #upper-section
    #replay-section.inactive-game.hide.row.center
      .col-xs-10.center
        .button#replay-button 
          a PLAY AGAIN

    #timer-wrap.active-game.center
      .wrap
        h2#timer 30
        h3 TIME
    
    #input-section.center
      .section
        h3.inactive-game.hide YOUR SCORE IS
        input#textfield(type='text', name='textfield', autocorrect='off', autocapitalize='none')
        h3.active-game ARTIST
        h3#world-ranking.inactive-game.hide
    
    #image-carousel.active-game
      .image-wrap.inactive.hide-for-small.hide-for-medium.hide-for-large
        .image
          .overlay
      .image-wrap.inactive.hide-for-small.hide-for-medium.hide-for-large
        .image
          .overlay
      .image-wrap.inactive.hide-for-small.hide-for-medium
        .image
          .overlay
      .image-wrap.inactive.hide-for-small.hide-for-medium
        .image
          .overlay
      .image-wrap.inactive
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
          
  #lower-section
    h3.active-game SCORE
    
    .row.center#submit-and-results
      .col-xs-12.col-sm-6.col-md-4.col-lg-4
        .row.center
          #thanks-wrap.hide
            p Your score was submitted
          #submit-wrap.row.center.inactive-game.hide
            .col-xs-10.col-sm-7
              input#submit-input(placeholder="YOUR NAME")
            .col-xs-10.col-sm-5 
              .button#submit-button SUBMIT SCORE

    #share-wrap.inactive-game.hide
      h3 SHARE
      .row.center
        .col-xs-6.col-md-2.col-lg-1.center.twitter
          a(target="_blank")
            img.float-left(src="/images/twitter.svg")
          a.facebook
            img.float-left(src="/images/facebook.svg")

    #all-images-wrap.inactive-game.row.hide
      .col-xs-10.col-sm-10.col-md-8.col-lg-5(style="margin: 0 auto;")
        #all-images.row

    #load-more-button-wrap.inactive-game.hide
      span#load-more-button LOAD MORE

    #instructions.row.center.active-game
      p.col-xs-12.col.col-sm-8.col-md-7.col-lg-5 Start by writing the name of a band or a musician and press <b>enter</b>. Then write another name starting with the last letter of the one before.
    
    #highscore-wrap.row.center-xs.active-game
      #highscore-container.col-xs-12.col-sm-8.col-md-7.col-lg-5
        .row.center
          .highscores.col-xs-12.col-sm-10.col-md-8.col-lg-8
            h3 HIGH SCORES

    script#highscore-row(type='x-tmpl-mustache').
      <div class="row"><div class="index">{{index}}</div><div class="name">{{ name }}</div><div class="score">{{ score }}</div></div>
