extends layout

block content
  script.
    window.fbAsyncInit = function() {
    FB.init({
    appId      : '1798128600435648',
    xfbml      : true,
    version    : 'v2.7'
    });
    };
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  #upper-section
    
    #replay-section.inactive-game.hide.row.center
      .col-xs-10.col-sm-5.col-md-3.col-lg-3
        .button#replay-button PLAY AGAIN

    #timer-wrap.active-game
      h2#timer 30
      h3 TIME
    
    #input-section
      .section
        h3.inactive-game.hide YOUR SCORE IS
        input#textfield(type='text', name='textfield', autocorrect='off', autocapitalize='none')
        h3.active-game ARTIST
        h3#world-ranking.inactive-game.hide
    
    #image-carousel.active-game
      .image-wrap.inactive
        .image
          .overlay
      .image-wrap.inactive
        .image
          .overlay
      .image-wrap.inactive
        .image
          .overlay
      .image-wrap.inactive
        .image
          .overlay
      .image-wrap.inactive
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
  #lower-section
    .row.center
      .col-xs-12.col-sm-10.col-md-8.col-lg-6
        .row.center
          #submit-wrap.row.center.inactive-game.hide
            .col-xs-12.col-sm-6
              input#submit-input(placeholder="YOUR NAME")
            .col-xs-12.col-sm-6 
              .button#submit-button SUBMIT SCORE

    #all-images-wrap.inactive-game.row.hide
      .col-xs-10.col-sm-10.col-md-8.col-md-6.col-lg-5(style="margin: 0 auto;")
        #all-images.row.center

    #load-more-button-wrap.inactive-game.hide
      span#load-more-button LOAD MORE

    h3.active-game SCORE
    #instructions.row.center.active-game
      p.col-xs-12.col-md-8.col-lg-6 Start by writing the name of a band or a musician and press <b>enter</b>. Then write another name starting with the last letter of the one before.

    #highscore-wrap.row.center-xs.active-game
      #highscore-container.col-xs-12.col.col-sm-11.col-md-9.col-lg-7
        .row.center
          #highscores.col-xs-12.col-sm-10.col-md-8.col-lg-6
            h3 HIGH SCORES

    script#highscore-row(type='x-tmpl-mustache').
      <div class="row"><div class="index">{{index}}</div><div class="name">{{ name }}</div><div class="score">{{ score }}</div></div>


