extends layout

block content
  script.
    window.fbAsyncInit = function() {
    FB.init({
    appId      : '1798128600435648',
    xfbml      : true,
    version    : 'v2.7'
    });
    
    };
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    
  #init-wrap
    audio(id="audioPlayer", src='https://p.scdn.co/mp3-preview/345d565d3cf19c8431f53cd2ff7d885e5ccc6167?cid=a5bf491d67f040c68bb4d7e829cb5a74', autoplay=false)
      | Your browser does not support the 
      code audio
      |  element.
    .row
     .col-md-3.col-sm-3
      .row#left-side

     .col-md-6.col-sm-6.col-xs-12
      .row#center-side
         
      .col-xs-12
       h1 Name the Band
       p Start by writing the name of a band or a musician and press <b>enter</b>. Then write another name starting with the last letter of the one before.
         .button#play-button 
           a PLAY
       #share-wrap.inactive-game
         h3 SHARE
         .row.center
           .col-xs-6.col-md-2.col-lg-1.center.twitter
             a(target="_blank", href="https://twitter.com/intent/tweet?text=bandsgame.com")
               img.float-left(src="/images/twitter.svg")
             a.facebook
               img.float-left(src="/images/facebook.svg")
               
         #highscore-wrap
          .border
          #highscore-container.col-xs-12
            .row.center
              .highscores.col-xs-12
                h3 HIGH SCORES
          .border

     .col-md-3.col-sm-3
      .row#right-side
    
  #upper-section
    #replay-section.inactive-game.hide.row.center
      .col-xs-10.center
        .button#replay-button 
          a PLAY AGAIN

    #timer-wrap.active-game.center
      .wrap
        h2#timer 30
        h3 TIME
    
    #input-section.center
      .section
        h3.inactive-game.hide YOUR SCORE IS
        input#textfield(type='text', name='textfield', autocorrect='off', autocapitalize='none')
        h3.active-game ARTIST
        h3#world-ranking.inactive-game.hide
    
    #image-carousel.active-game
      .image-wrap.inactive.hide-for-small.hide-for-medium.hide-for-large
        .image
          .overlay
      .image-wrap.inactive.hide-for-small.hide-for-medium.hide-for-large
        .image
          .overlay
      .image-wrap.inactive.hide-for-small.hide-for-medium
        .image
          .overlay
      .image-wrap.inactive.hide-for-small.hide-for-medium
        .image
          .overlay
      .image-wrap.inactive
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
          
  #lower-section
    h3.active-game SCORE
    
    .row.center#submit-and-results
      .col-xs-12.col-sm-6.col-md-4.col-lg-4
        .row.center
          #thanks-wrap.hide
            p Your score was submitted
          #submit-wrap.row.center.inactive-game.hide
            .col-xs-10.col-sm-7
              input#submit-input(placeholder="YOUR NAME")
            .col-xs-10.col-sm-5 
              .button#submit-button SUBMIT SCORE

    #share-wrap.inactive-game.hide
      h3 SHARE
      .row.center
        .col-xs-6.col-md-2.col-lg-1.center.twitter
          a(target="_blank")
            img.float-left(src="/images/twitter.svg")
          a.facebook
            img.float-left(src="/images/facebook.svg")

    #all-images-wrap.inactive-game.row.hide
      .col-xs-10.col-sm-10.col-md-8.col-lg-5(style="margin: 0 auto;")
        #all-images.row

    #instructions.row.center.active-game
      p.col-xs-12.col.col-sm-8.col-md-7.col-lg-5 Start by writing the name of a band or a musician and press <b>enter</b>. Then write another name starting with the last letter of the one before.
    
    #highscore-wrap.row.center-xs.active-game
      #highscore-container.col-xs-12.col-sm-8.col-md-7.col-lg-5
        .row.center
          .highscores.col-xs-12.col-sm-10.col-md-8.col-lg-8
            script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
            script.
              (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-3985918035483089",
              enable_page_level_ads: true
              });  
            script.
              (adsbygoogle = window.adsbygoogle || []).push({});
            h3 HIGH SCORES


    script#highscore-row(type='x-tmpl-mustache').
      <div class="row"><div class="index">{{index}}</div><div class="name">{{ name }}</div><div class="score">{{ score }}</div></div>

  script.
    function renderCover(selector, index, mdColNum, smColNum) {
      var image = "../images/bands/" + index + ".jpg";
      $(selector).append('<div class="hide-for-small col-md-'+ mdColNum +' col-sm-'+ smColNum +' random-rectangle" style="background-image: url('+ image +')" ></div>');
    }
    _(20).times(function(i) {
      renderCover("#left-side", i+1, 6, 6);
    });
  
    _(8).times(function(i) {
      renderCover("#center-side", i+21, 3, 3);
    });

    _(20).times(function(i) {
      renderCover("#right-side", i+21+9, 6, 6);
    });
