extends layout

block content
  script.
    window.fbAsyncInit = function() {
    FB.init({
    appId      : '1798128600435648',
    xfbml      : true,
    version    : 'v2.7'
    });
    };
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  #upper-section
    #timer-wrap
      h2#timer 30
      h3 TIME
    #input-section
      .section
        input#textfield(type='text', name='textfield', autocorrect='off', autocapitalize='none')
        h3 ARTIST
    #image-carousel
      .image-wrap.inactive
        .image
          .overlay
      .image-wrap.inactive
        .image
          .overlay
      .image-wrap.inactive
        .image
          .overlay
      .image-wrap.inactive
        .image
          .overlay
      .image-wrap.inactive
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
      .image-wrap
        .image
          .overlay
  #lower-section


    h3 SCORE
    #instructions
      p Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    #highscore-wrap 
      #highscores
        h3 HIGH SCORES
        .row

    script#highscore-row(type='x-tmpl-mustache').
      <div class="row"><div class="index">{{index}}</div><div class="name">{{ name }}</div><div class="score">{{ score }}</div></div>


