.center, body #upper-section #image-carousel .image-wrap.has-content .overlay {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

body {
  background: #ebf2f5;
  margin: 0;
  font-family: "canada-type-gibson", sans-serif;
  color: #4c4c4c;
  font-weight: 100;
  text-align: center; }
  body h2 {
    font-size: 2rem; }
  body h3 {
    font-size: 1rem;
    font-weight: 100; }
  body #upper-section {
    text-align: center; }
    body #upper-section #timer-wrap {
      text-align: center;
      width: 100%; }
      body #upper-section #timer-wrap #timer {
        font-weight: 500;
        margin: 50px 0px 0px 0px;
        padding: 0px;
        font-size: 40px; }
      body #upper-section #timer-wrap h3 {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 20px 0px; }
    body #upper-section #input-section {
      background: #fff;
      margin: 30px 0; }
      body #upper-section #input-section input {
        width: 100%;
        -webkit-appearance: textfield;
        text-align: center;
        background-color: white;
        cursor: auto;
        padding: 50px 0 5px 0px;
        border-width: 0px;
        border-style: inset;
        border-color: #fff;
        font-size: 40px;
        font-weight: 800; }
        body #upper-section #input-section input:focus {
          outline: 0; }
        body #upper-section #input-section input.wrong {
          color: #fa413c; }
    body #upper-section #image-carousel .image-wrap .image {
      background-color: white;
      height: 100%;
      height: 100px;
      width: 100px;
      background-position: center;
      background-size: cover;
      margin: 0 auto;
      border: 1px solid #b1b2b1;
      position: relative; }
    body #upper-section #image-carousel .image-wrap.inactive .image {
      border: 1px solid #cfd6d7;
      background-color: #eff5f8; }
    body #upper-section #image-carousel .image-wrap.has-content .overlay {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); }
      body #upper-section #image-carousel .image-wrap.has-content .overlay span {
        color: #fff;
        font-weight: 600;
        font-size: 1.5em; }
  body .section {
    margin: 0 3rem; }
    body .section h3, body .section h2 {
      padding: 0 0 0 0;
      margin: 0px;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    body .section h3 {
      padding: 0px 0px 50px 0px; }

#instructions {
  width: 50vw;
  margin: 0 auto;
  padding-bottom: 3rem; }

#highscore-wrap {
  width: 50em;
  margin: 0 auto;
  border-bottom: 1px solid #b1b2b1;
  border-top: 1px solid #b1b2b1;
  padding-bottom: 2rem; }
  @media (max-width: 600px) {
    #highscore-wrap {
      width: 100%; } }
  #highscore-wrap #highscores .row {
    display: flex;
    width: 25vw;
    padding: 0 5px;
    margin: 0 auto; }
    @media (max-width: 1024px) {
      #highscore-wrap #highscores .row {
        width: 40vw; } }
    @media (max-width: 600px) {
      #highscore-wrap #highscores .row {
        width: 80vw; } }
    @media (max-width: 400px) {
      #highscore-wrap #highscores .row {
        width: 100vw;
        background: #ebf2f5; } }
    #highscore-wrap #highscores .row:nth-child(even) {
      background: white; }
    #highscore-wrap #highscores .row .index {
      flex-basis: 10%;
      text-align: left;
      font-weight: 500; }
    #highscore-wrap #highscores .row .name {
      flex-basis: 50%;
      text-align: left; }
    #highscore-wrap #highscores .row .score {
      flex-basis: 40%;
      text-align: right; }

/*# sourceMappingURL=main.css.map */
